<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028260861493-025989h0fek6pn3jlr3vcdihq0j9g4cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028260861493-025989h0fek6pn3jlr3vcdihq0j9g4cm</string>
	<key>API_KEY</key>
	<string>AIzaSyCLjuLX8ZtczN2FelziNahLp5md_uCiyic</string>
	<key>GCM_SENDER_ID</key>
	<string>1028260861493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>elenaapp.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-d7a58</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-d7a58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028260861493:ios:1336958af75d7f5b00c37c</string>
</dict>
</plist>